.admin-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height: 80vh;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 50%;
}
.form-container input{
    padding: .5rem;
}
.form-container button{
    padding: .5rem;
}